<h2 class="font-[Compacta] tracking-[0.5px] pr-[10px] lg:pr-0 text-right text-[30px] md:text-[34px] lg:text-[45px] lg:leading-[55px] leading-[37px] uppercase mb-[20px] lg:mb-[50px]">{{ section.settings.title | escape }}</h2>
<div class="flex flex-wrap">
    {% for block in section.blocks %}
      <div class="w-1/2 sm:w-1/3 md:w-1/3 lg:w-1/6 p-[10px]">
        <div class="relative pink-hover bg-cover bg-center bg-no-repeat h-0" style="padding-bottom: 100%; background-image: url({{ block.settings.image | img_url: 'master' }});">
          <div class="absolute inset-0 flex items-center justify-center">
            <h3 class="text-[#f3f0eb] font-[Compacta] uppercase text-[34px] leading-[42px] text-center">{{ block.settings.name }}</h3>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% schema %}
  {
    "name": "Shop Vibe",
    "class": "shop-vibe",
    "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection",
        "settings": [
          {
            "label": "Name",
            "type": "text",
            "id": "name"
          }, {
            "label": "background Image",
            "type": "image_picker",
            "id": "image"
          }, {
            "label": "Collection Url",
            "type": "url",
            "id": "collection_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop Vibe"
      }
    ]
  }
{% endschema %}